/* Colores */
/* 
    #183256
    #153658
    #546A80
    #6E7E8D
    #CAD1D3
*/

/* Fuente */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

/* Neutralidad */
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    font-size: 18px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;
}
h3{
    margin-left: 20px;
}
/* Cabecera */

#cabecera{
    background-color: #183256;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
#c_logo{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
    background-image: url(../images/Sin%20t%C3%ADtulo.png);
    display: block;
    background-size: cover;
}
#c_menu{
    display: block;
    float: right;
    width: 80%;
    margin-top: 42px;
    overflow: hidden;
}
#c_menu li{
    display: inline;
    width: 15%;
    margin-right: 5%;
    height: 20%;
    float: right;
    text-align: center;
}
#c_menu li:hover{
    cursor: pointer;
}
/* Contenido */
#contenido{
    width: 40%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px grey solid;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-stretch: expanded;
}
#busqueda{
     width: 60%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px grey solid;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-stretch: expanded;
}
input{
    border:2px grey solid;
    float: right;
    height: 15px;
}





