/* Colores */
/* 
    #183256
    #153658
    #546A80
    #6E7E8D
    #CAD1D3
*/

/* Fuente */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

/* Neutralidad */
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

img{
    width: 100%;
    height: 100%;
}
h2{
    font-size: 18px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;
}
h3{
    margin-left: 20px;
}
a{
    color:white;
    text-decoration: none;
}
/* Cabecera */

#cabecera{
    background-color: #183256;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
#c_logo{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
    background-image: url(../images/Sin%20t%C3%ADtulo.png);
    display: block;
    background-size: cover;
}
#c_menu{
    display: block;
    float: right;
    width: 80%;
    margin-top: 42px;
    overflow: hidden;
}
#c_menu li{
    display: inline;
    width: 15%;
    margin-right: 5%;
    height: 20%;
    float: right;
    text-align: center;
}
#c_menu li:hover{
    cursor: pointer;
}

/* Banner */
#slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#slider ul {
  position: relative;
  height: 400px;
  list-style: none;
    overflow: hidden;
    width: 400%;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  height: 400px;
  text-align: center;
    overflow: hidden;
    left: 25%;
    
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.3;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
/* Principal */
#principal{
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 50px;
    overflow: hidden;
}
#filtros{
    width: 15%;
    margin-left: 5%;
    height: auto;
    float: left;
    padding-top: 20px;
    overflow: hidden;
}
.divfiltros{
    color: white;
    border-bottom: 2px darkorange solid;
    height: 1px;
    margin-bottom: 10px;
}
.titulo{
    color: darkorange;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.divfiltrosn{
    color: white;
    border-bottom: 2px black solid;
    height: 1px;
    margin-bottom: 10px;
}
.titulon{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
#formulariomarcas{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
}
#formulariotipo{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
}
.marca{
    float: right;
}
#containerprecio{
    width: 100%;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}
.predesde{
    float: left;
    width: 45%;
}
.numero{
    width: 80%;
    height: 25px;
    margin-top: 10px;
    border: 2px gray solid;
    border-radius: 10px;
}
#inter{
    float: left;
    width: 10%;
    color: gray;
}
#resultados{
    width: 80%;
    height: auto;
    float: left;
    overflow: hidden;
    padding-top: 10px;
}
#barra{
   width: 80%;
    margin: 0 auto;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 30px;
}
#barrabus{
    width: 69%;
    margin-left: 3%;
    margin-right: 3%;
    height: 30px;
    border-radius: 15px;
    border: 3px #183256 solid;
    float: left;
    padding-left: 1%;
}
#barrabot{
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
    height: 35px;
    border-radius: 15px;
    border: 3px #183256 solid;
    background-color: #546A80;
    float: right;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
#barrabot:hover{
    background-color: #153658;
}
#cajas{
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
.cajaprin{
    width: 20%;
    float: left;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}
.imagen{
    width: 80%;
    margin: 0 auto;
    height: 110px;
}
.texto{
    width: 90%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 15px;
}
#cajaver{
    text-align: center;
    background-color: #153658;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 20px;
    margin-top: 10px;
    width: 50%;
}
#cajaver:hover{
    cursor: pointer;
    background-color: #153870;
    
}
.division{
    width: 5%;
    float: left;
    color: #CAD1D3;
}

/* Footer */
footer{
    padding-bottom: 40px;
}
.container-footer{
    width: 100%;
    max-width: 1300px;
    margin:auto;
}

.imglogofooter{
    width: 80px;
    display: block;
    margin:auto;
    padding: 30px;
}

.container-social-icon{
    width: 200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}


.img-red-footer{
    width: 40px;
}


